.dashpage {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


.user-list {
    width: 48%;
    margin-left: 2%;
    float: left;
}

.daily-symptoms {
    width: 50%;
    float: left;
}

.symptom-wrapper {
    border: 3px solid rgb(163, 163, 163);
    padding: 20px 0 20px 0;
    width: 50%;
    margin: auto;
}