
.selected {
    background:#e63946 !important;
    color: white !important;
}

.options {
    padding: 8px;
    border: 3px solid #000;
    cursor: pointer;
    width:20%;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: auto;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px;
}

#wrapper{
    justify-content: center;    
    color:black;
    font-family: 'Segoe UI',;
    font-size: 18px;
    background-color: rgb(228, 228, 228);
    padding-top: 50px;
    height: 100%;
 }

 #title{
     padding: 5px;
 }

 #wrapper button {
     margin: 10px;
 }